.name-pla::placeholder{
  font-size: 12px !important;
  font-family: "Raleway";
  font-style: italic;
}
.chon-vou{
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgb(233,238,239);
  margin-top: 3px;
  padding-left: 5px;
}
.order-sai{
  border: 1px solid red !important;
  border-left: 4px solid red !important;
}